@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Please check out my GitHub Repository <a href="https://github.com/changhuixu/dotnetlabs/tree/master/MachineLearningLabs/HandwritingRecognition">here</a>.</p>

<p>You are welcome to read <a href="https://codeburst.io/handwriting-recognition-using-ml-net-3ce23a7369af">my Medium Article</a> about Handwriting Recognition using ML.NET.</p>

<p>Moreover, click <a href="@Url.Action("Predict", "TaxiFare")">here</a> to view a single prediction of Taxi Fare based on a data set at <a href="https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page">NYC Trip Record Data</a>.</p>