@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>Write a number [0-9] in the box.</p>
    <canvas id="canvas" width="256" height="256" style="border:2px solid black"></canvas>
    <br />
    <p id="prediction" class="h1">?</p>
    <div>
        <pre id="scores"></pre>
    </div>
    <button id="clearArea" class="btn btn-secondary">Clear</button>
    <button id="check" class="btn btn-success">Check</button>
</div>


<script type="text/javascript">

</script>