@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br /><br />
    <canvas id="canvas" width="256" height="256" style="border:2px solid black"></canvas>
    <br /><br />
    <h1 id="prediction">?</h1>
    <div>
        <pre id="scores"></pre>
    </div>
    <button id="clearArea" class="btn btn-secondary">Clear</button>
    <button id="check" class="btn btn-success">Check</button>
</div>


<script type="text/javascript">

</script>